/* general styles */

/*
.stretch {
  position: absolute; left: 0; right: 0; top: 0; bottom: 0;
}
*/

/* dom specific */

body {
  padding: 0;
  margin: 0;
  background: #eee;
}

#container {
  position: absolute; left: 0; right: 0; top: 0; bottom: 0;
}
#header {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 50px;
  padding-left: 1%;
}
#header .links {
  line-height: 50px;
  width: 33%;
  float: left;
}
#header .links.right {text-align:right;}
#header .links.middle {text-align:center;}

#column_headers {
  position: absolute;
  top: 50px;
  right: 0; 
  left: 0; 
  height: 20px;
}
#columns {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0; 
}

#instructions pre {
  font-size: 11px;
  padding: 8px;
}
#result {
  display: block;
  border: none;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 100%;
  height: 100%;
}
.CodeMirror-scroll {
  height: auto; overflow: visible;
}

/* 
 * COLUMNS
 *

  |<------- 100% ------------->|
  |-| 1%
    |<---->| 32%

  | |      | |      | |      | |

*/

.column {
  background: white;
  overflow-x: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.column.left {
  right: 70%;
}
.column.middle {
  right: 30.5%;
  left: 30.5%;
}
.column.right {
  left: 70%;
}

.column_header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 4px;
  margin: 0;
  background: #666;
  color: white;
  font-family: monospace;
}
.column_header.left {
  right: 70%;
}
.column_header.middle {
  right: 30.5%;
  left: 30.5%;
}
.column_header.right {
  left: 70%;
}

/*
 * instruction layout
 */
 
.column.left {padding: 10px}

#instructions {
  font-size: 14px;
  line-height: 17px;
}

#instructions p, #instructions pre {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#instructions code {
  background: #FFEFCA;
}
#instructions pre {
  background: #FFEFCA;
  border: 1px solid #C1AE83;
  padding: 4px;
  overflow: auto;
}

