// currently this doesn't work, so style is embedded inline

body  {padding:0; margin:0;}
table {height: 100%; width: 100%;}
#output {overflow: scroll; width: 100%; height: 100%; background: green;}

#output span {
  display: inline-block;
  width: 20px;
  color: #ccc;
}

input.input {
  width: 100%;
  border: 1px solid #ccc;
  height: 20px
  font-size: 1.5em;
  padding: 8px;
}
td.output {
  height: 100%;
  border: 1px dotted pink;
}


